/.vscode
/AnoPioneerPro.bin
/ANO_Pioneer.uvguix.canla
/ANO_Pioneer.uvguix.digiwang
/ANO_Pioneer.uvguix.jyoun wong
/ANO_Pioneer.uvguix.J_youn
/ANO_Pioneer.uvguix.XXX
/ANO_Pioneer.uvopt
/ANO_Pioneer.uvoptx
/ANO_Pioneer_LAPTOP-QUHDSFUB_10月-07-002832-2021_Conflict.uvoptx
/build
/EventRecorderStub.scvd
/JLinkLog.txt
/JLinkLog_LAPTOP-QUHDSFUB_10月-07-002832-2021_Conflict.txt
/JLinkSettings.ini
/TEST.ANO